@import url(notosanstc.css);
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 14pt;
	color: #B47D7B;
	font-family: noto sans tc;
	min-height: 100vh; 
	background-attachment: fixed;
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-image: url('img/re_home.jpg');
	background-color: #F5F6FB;
}
body:hover {
	cursor: default;
}
.content {
	margin: auto;
	width: 50%;
	height: 100%;
	padding: 5% 0%;
}
.name {
	width: 100%;
	font-size: 30pt;
	letter-spacing: 5px;
	text-align: right;
}
section {
	letter-spacing: 1px;
	font-size: 30pt; 
	color: #F0DCD7;
	padding: 8% 0% 3% 0%;
}
section::after {
	content: '';
	display: block;
	width: 25px;
	border-bottom: 4px solid #F0DCD7;
	padding-top: 10px;
	margin-left: 20px;
}
.about {
	column-count: 2;
	column-gap: 80px;
}
.skill {
	column-count: 3;
	column-gap: 80px;
}
table {
	font-size: 14pt;
	width: 90%;
	margin-left: 10%;
}
.table_640 {
	display: none;
}
td {
	padding: 15px;
}
.year {
	padding: 10px;
	padding-right: 50px;
	vertical-align: text-top;
	font-size: 20pt;
	font-weight: 700;
}
.exp_sub {
	width: 65%;
	font-size: 12pt;
	border-left: 3px solid #F0DCD7;
	margin: 10px 0px 10px 120px;
	padding-left: 20px;
}
.work_btn {
	font-size: 25pt;
	border-radius: 20px;
	background: #F0DCD7;
	text-align: center;
	padding: 2% 0%;
	width: 20%;
	margin: auto;
	margin-top: 10%;
	color: #333;
	box-shadow: 0px 10px #B47D7B;
	transition: color .5s;
}
.work_btn:hover {
	cursor: pointer;
	color: #B47D7B;
}

/* RWD */
@media screen and (min-width: 1025px) and (max-width: 1440px) {
	.content {
		width: 70%;
	}
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
	.content {
		width: 80%;
	}
	section {
		font-size: 25pt; 
		padding: 20% 0% 5% 0%;
	}
	section::after {
		width: 20px;
		border-bottom: 3px solid #F0DCD7;
		padding-top: 5px;
		margin-left: 20px;
	}
	.work_btn {
		font-size: 22pt;
		border-radius: 15px;
		padding: 2% 0%;
		width: 20%;
		margin-top: 10%;
	}
}
@media screen and (min-width: 0px) and (max-width: 1024px) {
	body {
		font-size: 12pt;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		font-family: noto sans tc;
		min-height: 100vh; 
		background-attachment: fixed;
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-image: url('img/re_home_640.jpg');
	}
	.content {
		width: 80%;
	}
	.name {
		width: 98%;
		font-size: 20pt;
		letter-spacing: 3px;
		padding: 10% 0% 0% 0%;
	}
	section {
		font-size: 20pt; 
		padding: 20% 0% 5% 0%;
	}
	section::after {
		width: 20px;
		border-bottom: 3px solid #F0DCD7;
		padding-top: 5px;
		margin-left: 20px;
	}
	.about {
		column-count: 1;
	}
	.skill {
		column-count: 2;
		column-gap: 15px;
	}
	table {
		font-size: 12pt;
		width: 105%;
		margin-left: -5%;
	}
	td {
		padding: 0px;
	}
	.table_full {
		display: none;
	}
	.table_640 {
		display: block;
	}
	.year_640 {
		display: block;
		font-size: 18pt;
		font-weight: 700;
		padding: 20px 0px 10px 0px;
	}
	.table_640_interval {
		vertical-align: text-top;
	}
	.exp_sub {
		width: 90%;
		font-size: 10pt;
		border-left: 3px solid #F0DCD7;
		margin: 15px 0px 15px 25px;
		padding-left: 15px;
	}
	.work_btn {
		font-size: 20pt;
		border-radius: 10px;
		padding: 5% 0%;
		width: 60%;
		margin-top: 30%;
		box-shadow: 0px 8px #B47D7B;
	}
}
@media screen and (min-width: 641px) and (max-width: 1024px) {
	.work_btn {
		font-size: 20pt;
		border-radius: 12px;
		padding: 3% 0%;
		width: 40%;
		margin-top: 15%;
	}
}